/*
Yleinen tyyli
 */

header{
    height: 10%;
}
footer{
    height: 0%;
}

body{
    margin: 0;
    background: gray;
}
main{

}
/*
Kartan CSS
 */

#map {
    position: absolute;
    width: 100%;
    height: 90%;

}
/*
Sivupainike ja sen menu
 */
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 5000;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #ffffff;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.opennav {

    font-size:30px;
    cursor:pointer;
    width: 14%;
    z-index: 3000;

}
.navdiv{
    margin: 15px 15px 15px 15px;
    position: fixed;
    width: 14%;
    z-index: 3000;
}
